:root{
	font-size: 16px;
	// color-scheme: dark;
	@media (min-width: 1000px) and (max-width: 1400px) {
			font-size: 12px;
	
		}
		@media (min-width: 1401px) and (max-width: 1600px) {
			font-size: 15px;
		
		}
		@media (min-width: 0px) and (max-width: 1000px) {
			font-size: 14px;
	
		}
}
::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #626982;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
body {
  margin: 0;
	background: linear-gradient(180deg, #050F1E 0%, #050B1E 100%);
	font-family: 'Rubik', sans-serif;
	width:100%;
	overflow-x:hidden;
	color: #ffffff;
	@media screen and (max-width:1000px) {
		padding:1.714285rem;
	}
}



.lock_width{
	width: 77rem;
	margin: 0 auto;
}

ul,li{
	list-style: none;
}

a{
	text-decoration: none;
	color:#ffffff;
	cursor:pointer;
}

button{
	cursor:pointer;
}