:root{
	font-size: 16px;
}
body {
  margin: 0;
	background: linear-gradient(180deg, #050F1E 0%, #050B1E 100%);
	font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lock_width{
	width: 77rem;
	margin: 0 auto;
}

ul,li{
	list-style: none;
}

a{
	text-decoration: none;
	color:#ffffff;
}